* {
    box-sizing: border-box;
  }
  
  html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: skyblue;
    background-image: url(/img/clouds.img);
  }
  
  .App {
    text-align: center;

    h1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 2.5vmax;
        background-color: #2a43d1;
        background-image: linear-gradient(90deg, #E3535D, #2a43d1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    select {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: black;
        margin-top: 10px;
        text-align: center;
    }
  }

  .search-bar {

      button {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1vmax;
        color: white;
        background-image: linear-gradient(90deg, #E3535D, #62a4cf);

      }

      input {
        font-family: Georgia, 'Times New Roman', Times, serif;
      }

  }

  .select-bar {
        font-family: Georgia, 'Times New Roman', Times, serif;

  }

  .result {
      font-family: Georgia, 'Times New Roman', Times, serif;
      text-align: center;
    //   display: flex;
    //   width: 300px;
    //   border: 15px solid rgb(204, 165, 199);
    //   padding: 50px;
    //   margin: 20px;
  }


